@import '../../styles/variables';

.monster {
  height: 100vh;
  width: $container-width;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 $space-xlarge 0 6rem;

  @media only screen and (max-width: $bp-600) {
    padding: 0 $space-medium 0 $space-xlarge;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @media only screen and (max-width: $bp-600) and (orientation: portrait) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__name {
    width: 100%;
    text-align: center;
    font-family: $font-family-decorative;
    font-size: $font-size-h1;
    color: white;

    @media only screen and (max-width: $bp-600) {
      margin: $space-small 0;
    }
    @media only screen and (max-width: $bp-900) and (orientation: landscape) {
      margin: $space-small 0 0 0;
    }
  }

  &__image {
    height: 80%;
    width: 80%;

    &-wrapper {
      max-width: 40rem;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: white;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: $box-shadow;

      &::before {
        content: '';
        position: relative;
        padding-top: 100%;
      }

      @media only screen and (max-width: $bp-900) {
        max-width: 30rem;
      }

      @media only screen and (max-width: $bp-900) and (orientation: landscape) {
        max-width: 20rem;
      }

      @media only screen and (max-width: $bp-600) and (orientation: portrait) {
        max-width: 20rem;
      }
    }
  }

  &__info {
    flex-basis: 50%;
    padding-left: $space-xlarge;

    @media only screen and (max-width: $bp-600) and (orientation: portrait) {
      padding-left: unset;
    }
  }

  &__description {
    font-size: $font-size-h3;
    color: white;
    padding-bottom: $space-small;

    @media only screen and (max-width: $bp-900) {
      font-size: $font-size-h3-phone;
    }
    @media only screen and (max-width: $bp-600) {
      font-size: 1.6rem;
      text-align: center;
    }

    &-item {
      @media only screen and (max-width: $bp-600) {
        margin: $space-small 0;
      }
    }
  }

  &__statistics {
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;
      font-size: $font-size-h3;

      @media only screen and (max-width: $bp-600) {
        text-align: center;
      }
      @media only screen and (max-width: $bp-900) {
        font-size: $font-size-h3-phone;
      }
    }
    &-key {
      text-transform: capitalize;
    }
  }
}
