$container-width: 118rem; // 1180px;

$gradient-color-1: #f8be09;
$gradient-color-2: #6dc6e3;
$gradient-color-3: #60c0b8;
$gradient-color-4: #bf8cbf;
$gradient-color-5: #78ba28;
$gradient-color-6: #f17c9c;
$gradient-color-start: #f17c9c;
$gradient-color-end: #f8be09;
