@import './styles/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: $font-family-regular;
}

a {
  text-decoration: none;
}

.app {
  overflow-x: hidden;
  background: linear-gradient(
    180deg,
    $gradient-color-start 0%,
    $gradient-color-1 7%,
    $gradient-color-2 25%,
    $gradient-color-3 43%,
    $gradient-color-4 61%,
    $gradient-color-5 79%,
    $gradient-color-6 92%,
    $gradient-color-end 100%
  );
  &--error,
  &--fetching {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $space-small;
    font-size: $font-size-h3;
    text-align: center;
    color: white;
    background: linear-gradient(
      180deg,
      $gradient-color-start 0%,
      $gradient-color-1 70%,
      $gradient-color-end 100%
    );
  }
}
